@charset "UTF-8";
/* EM HTML É ID EM CSS É #
   EM HTML É CLASS EM CSS É .

*/

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: rgb(16, 92, 92);
}
h1#principal {
    text-align: center;
    color: black;
    background-color: blanchedalmond;
}
h2 {
    color: blue;
}
.basico {
    color: darkgoldenrod;
}
.intermediario {
    color: chartreuse;
}
.avancado {
    color: crimson;
}
.destaque {
    background-color: darkkhaki;
}